In [1]:
%matplotlib inline
import pandas as pd
import scipy
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import seaborn as sns
from matplotlib.gridspec import GridSpec
import matplotlib.patches as patches

In [2]:
# keys = plt.rcParams.keys()
# print(keys)
# 'font.sans-serif': "Verdana",

custom_style = {
    'figure.figsize': (8, 6),
    'font.family':'sans-serif',
    'axes.facecolor': 'lightgray',
    'figure.facecolor':'silver',
    'scatter.marker': 'o',
    'font.size': 9,
    'axes.grid': True
    }

In [3]:
df = pd.read_csv("Outputs_Planilhas/1-ALS-1-AL.csv")
df

,Unnamed: 0,Profundidade,COT,S1,S2,S3,Tmax,IH,IO,Cluster,COTa,IH0a,Querogênio,Tr_Ro_Log,Tr_IH_Log,COT0,S20,IH0
0,0,348.7,0.97,0.19,0.47,0.44,434.0,48.45,45.36,1,0.00,NaN,Tipo IV,0.548,0.391,NaN,NaN,NaN
1,1,399.7,1.04,0.17,0.32,0.25,436.0,30.77,24.04,1,0.00,1033.01,Tipo IV,0.575,0.410,9.07,93.71,1033.01
2,2,420.7,1.28,0.47,0.77,0.40,429.0,60.16,31.25,1,0.24,259.10,Tipo III,0.585,0.418,1.56,4.05,259.10
3,3,438.7,1.22,0.49,0.48,0.46,438.0,39.34,37.70,1,0.18,219.58,Tipo IV,0.594,0.424,1.45,3.19,219.58
4,4,492.7,0.94,0.52,0.23,0.26,NaN,24.47,27.66,0,0.31,71.60,Tipo IV,0.617,0.441,0.98,0.70,71.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,156,3228.7,0.87,0.48,0.32,0.36,346.0,36.78,41.38,2,0.10,254.28,Tipo IV,0.997,0.712,1.08,2.74,254.28
157,157,3237.7,0.71,NaN,NaN,NaN,NaN,NaN,NaN,0,0.08,NaN,NaN,0.998,0.712,NaN,NaN,NaN
158,158,3255.7,0.63,NaN,NaN,NaN,NaN,NaN,NaN,0,0.00,NaN,NaN,0.999,0.713,NaN,NaN,NaN
159,159,3270.7,0.67,NaN,NaN,NaN,NaN,NaN,NaN,0,0.04,NaN,NaN,1.000,0.713,NaN,NaN,NaN
160,160,3273.7,0.68,0.38,0.24,0.29,NaN,35.29,42.65,0,0.05,357.69,Tipo IV,1.000,0.714,0.95,3.41,357.69

#### Gráficos 3D

In [4]:
%matplotlib
fig = plt.figure()
ax = fig.add_subplot(projection='3d')
ax.scatter(df["IH"],df["Tmax"],df["COT"], c="black", s=15)
ax.set_xlim(0,1000)
ax.set_ylim(350,550)
ax.set_zlim(0.1,20)
ax.set_xlabel("IH")
ax.set_ylabel("Tmax")
ax.set_zlabel("COT (w%)")

Using matplotlib backend: TkAgg

Text(0.5, 0, 'COT (w%)')

In [5]:
%matplotlib
df["S2/S3"]=df["S2"]/df["S3"]
fig = plt.figure()
ax = fig.add_subplot(projection='3d')
ax.scatter(df["IH"],df["S2/S3"],df["Profundidade"], c="black", s=15)
ax.set_xlim(10,1000)
ax.set_ylim(0.1,100)
#ax.set_xscale("log")
#ax.set_yscale("log")
ax.set_zlim(ax.get_zlim()[::-1])
ax.set_xlim(ax.get_xlim()[::-1])
ax.set_xlabel("IH")
ax.set_ylabel("S2/S3")
ax.set_zlabel("Profundidade (m)")

Using matplotlib backend: TkAgg

Text(0.5, 0, 'Profundidade (m)')