In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("Poços_BR/Poços_BR.csv", thousands=",")

In [15]:
df

,Poço,Bacia,COT,S1,S2,S3,Tmax,HI,OI
0,7-PIR-184D-AL,Alagoas,1.60,0.82,8.17,1.26,436.0,510.62,78.75
1,7-PIR-184D-AL,Alagoas,1.49,0.69,6.79,1.22,432.0,455.70,81.88
2,7-PIR-184D-AL,Alagoas,1.37,0.70,8.02,1.26,435.0,585.40,91.97
3,7-PIR-184D-AL,Alagoas,1.13,0.68,6.51,1.30,436.0,576.11,115.04
4,7-PIR-184D-AL,Alagoas,1.62,0.87,9.34,1.45,432.0,576.54,89.51
...,...,...,...,...,...,...,...,...,...
96426,7-GA-57D-SES,Sergipe,0.53,0.13,0.21,1.69,411.0,39.62,318.87
96427,7-GA-57D-SES,Sergipe,0.56,0.06,0.20,1.73,408.0,35.71,308.93
96428,7-GA-57D-SES,Sergipe,0.57,0.07,0.21,1.66,409.0,36.84,291.23
96429,7-GA-57D-SES,Sergipe,0.64,0.07,0.23,1.70,415.0,35.94,265.63
96430,7-GA-57D-SES,Sergipe,0.74,0.11,0.43,2.22,416.0,58.11,300.00

In [4]:
df1 = df.loc["Sergipe"]

KeyError: 'Sergipe'

In [ ]:
df1.to_csv("Sergipe.csv", index=False)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96431 entries, Alagoas to Sergipe
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Poço    96431 non-null  object
 1   COT     96431 non-null  float64
 2   S1      48320 non-null  float64
 3   S2      50825 non-null  float64
 4   S3      50320 non-null  float64
 5   Tmax    49594 non-null  float64
 6   HI      50824 non-null  float64
 7   OI      50319 non-null  float64
dtypes: float64(7), object(1)
memory usage: 6.6+ MB

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.describe()

In [ ]:
df.Poço

In [ ]:
df[["Poço","COT"]]

In [ ]:
df.iloc[4756]

In [ ]:
df.iloc[3546:4563]

In [ ]:
df.loc[3561:3567, "Poço":"Tmax"]

In [ ]:
df["Poço"].value_counts()

In [ ]:
df.set_index("Poço", inplace=True)

In [ ]:
df = pd.read_csv("Poços_BR/Poços_BR.csv", thousands=",", index_col="Poço")

In [ ]:
df

In [ ]:
df = pd.read_csv("Poços_BR/Poços_BR.csv", thousands=",")

In [ ]:
grupo = df["COT"].groupby(df["Poço"])

In [ ]:
grupo

In [ ]:
grupo.mean()

In [ ]:
grupo = df["COT"].groupby([df["Bacia"], df["Poço"]]).mean()  # Média de um parâmetro especificado agrupado por Bacia e Poços

In [ ]:
grupo

In [ ]:
#pd.set_option("display.max_rows", 1617)  # Mostra número total de linhas

In [ ]:
#df.groupby(["Bacia","Poço"]).mean()    # Médias de todos os parâmetros agrupados por Bacias e Poços

In [ ]:
# Agrupamento de todos os parâmetros e poços por Bacia
for name, group in df.groupby("Poço"):
    print(name)
    print(group)

In [ ]:
# Agrupamento de todos os parâmetros por poços e bacias
#for (Bacia, Poço), group in df.groupby(["Bacia","Poço"]):
    print((Bacia,Poço))
    print(group)

In [ ]:
selec = dict(list(df.groupby("Bacia")))
selec["Alagoas"]

In [ ]:
selec2 = dict(list(df.groupby("Poço")))
selec2

In [16]:
selec2 = dict(list(df.groupby("Poço")))
selec2["4-PIR-4-AL          "]

,Poço,Bacia,COT,S1,S2,S3,Tmax,HI,OI
14094,4-PIR-4-AL,Alagoas,1.68,0.18,10.15,0.23,421.0,604.17,13.69
14095,4-PIR-4-AL,Alagoas,1.85,0.47,12.62,0.21,422.0,682.16,11.35
14096,4-PIR-4-AL,Alagoas,0.62,NaN,NaN,NaN,NaN,NaN,NaN
14097,4-PIR-4-AL,Alagoas,4.77,0.67,24.82,0.34,425.0,520.34,7.13
14098,4-PIR-4-AL,Alagoas,4.90,0.65,15.06,0.30,425.0,307.35,6.12
...,...,...,...,...,...,...,...,...,...
14178,4-PIR-4-AL,Alagoas,0.73,NaN,NaN,NaN,NaN,NaN,NaN
14179,4-PIR-4-AL,Alagoas,0.78,NaN,NaN,NaN,NaN,NaN,NaN
14180,4-PIR-4-AL,Alagoas,0.52,NaN,NaN,NaN,NaN,NaN,NaN
14181,4-PIR-4-AL,Alagoas,0.48,NaN,NaN,NaN,NaN,NaN,NaN
14182,4-PIR-4-AL,Alagoas,0.51,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
selec2.to_csv("4PIR4AL.csv", index=False)

In [17]:
selec2 = pd.DataFrame.from_dict(selec2)

ValueError: If using all scalar values, you must pass an index

In [18]:
import csv

In [19]:
filename = 'dictionary.csv'
with open(filename, 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(selec2.keys())
    writer.writerows(zip(*selec2.values()))