In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("Poços_Input.csv")

In [16]:
df

,Poço,Profundidade,COT,S1,S2,S3,Tmax,Ro,IH,IO
0,1-BRSA-132-ALS,802.0,0.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1-BRSA-132-ALS,820.0,0.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1-BRSA-132-ALS,838.0,0.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1-BRSA-132-ALS,856.0,1.07,0.35,2.43,1.83,433.0,NaN,227.10,171.03
4,1-BRSA-132-ALS,874.0,0.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
20157,7-GA-57D-SES,1274.0,0.53,0.13,0.21,1.69,411.0,NaN,39.62,318.87
20158,7-GA-57D-SES,1286.0,0.56,0.06,0.20,1.73,408.0,NaN,35.71,308.93
20159,7-GA-57D-SES,1298.0,0.57,0.07,0.21,1.66,409.0,NaN,36.84,291.23
20160,7-GA-57D-SES,1310.0,0.64,0.07,0.23,1.70,415.0,NaN,35.94,265.63
20161,7-GA-57D-SES,1322.0,0.74,0.11,0.43,2.22,416.0,NaN,58.11,300.00

In [19]:
df.groupby("Poço")

In [36]:
# Agrupamento de todos os parâmetros e poços por Bacia
for name, group in df.groupby("Poço"):
    print(name)
    #print(group)

#Função=Poços_Marinhos()
#df1=pd.DataFrame(Função)
#df1.to_csv("Poços_Marinhos", index=False)

1-ALS-1-AL
1-ALS-10-AL
1-ALS-11-AL
1-ALS-13-AL
1-ALS-14-AL
1-ALS-15-AL
1-ALS-16-AL
1-ALS-17-AL
1-ALS-18-AL
1-ALS-2-AL
1-ALS-20-AL
1-ALS-23-AL
1-ALS-24-AL
1-ALS-25-AL
1-ALS-26-ALS
1-ALS-27-AL
1-ALS-28-AL
1-ALS-3-AL
1-ALS-31-AL
1-ALS-32-ALS
1-ALS-33-AL
1-ALS-34-AL
1-ALS-35-AL
1-ALS-37-AL
1-ALS-38-AL
1-ALS-4-AL
1-ALS-40-AL
1-ALS-41-AL
1-ALS-43A-AL
1-ALS-47-AL
1-ALS-49-AL
1-ALS-6-AL
1-ALS-7-AL
1-ALS-8-AL
1-ALS-9-AL
1-BAS-1-BAS
1-BAS-10-BA
1-BAS-117-BAS
1-BAS-119-BAS
1-BAS-25-BAS
1-BAS-34-BA
1-BAS-42-BA
1-BAS-43-BA
1-BAS-45-BAS
1-BAS-59-BAS
1-BAS-60-BAS
1-BAS-70-BAS
1-BAS-85-BAS
1-BAS-86-BAS
1-BRSA-1013-SES
1-BRSA-1104-SES
1-BRSA-132-ALS
1-BRSA-136-ESS
1-BRSA-16-SES
1-BRSA-178-SES
1-BRSA-186-ESS
1-BRSA-3-RNS
1-BRSA-50-ESS
1-BRSA-535A-ESS
1-BRSA-67-ESS
1-BRSA-682-ESS
1-BRSA-683-ESS
1-BRSA-735-ESS
1-BRSA-78-ESS
1-BRSA-851-SES
1-BRSA-86-SES
1-BRSA-91-ESS
1-CES-10-CE
1-CES-106-CE
1-CES-108-CE
1-CES-114A-CE
1-CES-117-CE
1-CES-119-CE
1-CES-120-CE
1-CES-121-CE
1-CES-18-CE
1-CES-49-CE
1-CES-69-CE
1-CES-7-CE
1-CES-85A-CE
1-CES-9-CE
1-CES-95A-CE
1-ESS-1-ES
1-ESS-10D-ES
1-ESS-11-ES
1-ESS-12DA-ES
1-ESS-13-ES
1-ESS-15-ES
1-ESS-18-ES
1-ESS-19-ESS
1-ESS-21-ES
1-ESS-22-ES
1-ESS-23-ES
1-ESS-24-ES
1-ESS-25-ES
1-ESS-26-ES
1-ESS-30-ES
1-ESS-31-ES
1-ESS-32-ES
1-ESS-33-ES
1-ESS-34-ES
1-ESS-36-ES
1-ESS-37C-ES
1-ESS-38-ES
1-ESS-4-ES
1-ESS-40-ES
1-ESS-41B-ES
1-ESS-42-ES
1-ESS-43-ES
1-ESS-44-ES
1-ESS-45-ES
1-ESS-46-ES
1-ESS-49-ESS
1-ESS-5-ES
1-ESS-51-ES
1-ESS-52-ES
1-ESS-53-ES
1-ESS-54-ES
1-ESS-55-ES
1-ESS-56-ES
1-ESS-59-ES
1-ESS-6-ES
1-ESS-60-ES
1-ESS-61-ES
1-ESS-62-ES
1-ESS-63-ES
1-ESS-65-ES
1-ESS-66-ES
1-ESS-67-ESS
1-ESS-69-ES
1-ESS-7-ES
1-ESS-72-ES
1-ESS-76-ES
1-ESS-77-ESS
1-ESS-8-ES
1-ESS-81-ES
1-ESS-83-ES
1-ESS-86-ES
1-ESS-86A-ES
1-ESS-87-ES
1-ESS-88-ES
1-ESS-9-ES
1-ESS-90A-ES
1-ESS-94-ESS
1-RNS-1-RN
1-RNS-102A-RN
1-RNS-104-RN
1-RNS-10A-RN
1-RNS-11-RNS
1-RNS-112-RNS
1-RNS-118-RNS
1-RNS-12-RN
1-RNS-121-RNS
1-RNS-124D-RN
1-RNS-128-RNS
1-RNS-13-RN
1-RNS-133-RN
1-RNS-138-RN
1-RNS-14-RN
1-RNS-140-RNS
1-RNS-15-RN
1-RNS-16-RN
1-RNS-17-RN
1-RNS-18-RN
1-RNS-19-RN
1-RNS-2-RN
1-RNS-21-RN
1-RNS-22-RN
1-RNS-23-RN
1-RNS-24-RN
1-RNS-26-RN
1-RNS-27-RN
1-RNS-28-RNS
1-RNS-3-RN
1-RNS-32-RN
1-RNS-34-RN
1-RNS-36-RNS
1-RNS-37-RN
1-RNS-4-RN
1-RNS-40-RN
1-RNS-44-RN
1-RNS-45-RN
1-RNS-46-RN
1-RNS-48-RN
1-RNS-5-RN
1-RNS-50-RNS
1-RNS-51-RNS
1-RNS-54-RN
1-RNS-57A-RN
1-RNS-58-RN
1-RNS-6-RN
1-RNS-62-RN
1-RNS-63-RN
1-RNS-64-RN
1-RNS-66-RN
1-RNS-67-RN
1-RNS-68-RN
1-RNS-69-RN
1-RNS-7-RN
1-RNS-70-RN
1-RNS-71-RNS
1-RNS-72-RN
1-RNS-75-RNS
1-RNS-77-RN
1-RNS-79-RN
1-RNS-8-RN
1-RNS-82-RN
1-RNS-87-RN
1-RNS-89A-RN
1-RNS-93-RNS
1-RNS-9A-RN
1-SES-100-SE
1-SES-101-SE
3-BAS-87D-BAS
3-BAS-98-BAS
3-BRSA-173-SES
3-BRSA-237-ESS
3-CB-2-SES
3-CM-39-SES
3-ESS-29D-ES
3-ESS-74-ES
3-ESS-82-ESS
3-GA-50-SES
3-GA-54-SES
3-RNS-125-RN
3-RNS-126-RN
3-RNS-33-RNS
3-RNS-42-RN
3-RNS-73A-RN
3-RNS-74-RN
3-RNS-76-RN
3-RNS-83-RN
3-RNS-84-RN
3-RNS-85-RN
3-RNS-86-RN
3-RNS-88DA-RN
3-RNS-96-RN
3-SES-69-SES
3-SES-91-SES
3-UB-1-RNS
3-UB-12-RNS
3-UB-22-RNS
3-UB-25-RNS
3-UB-27-RNS
3-UB-3-RNS
3-UB-4-RNS
3-UB-40-RNS
3-UB-5-RNS
3-UB-51-RNS
3-UB-95-RNS
4-ALS-30-AL
4-ALS-39-AL
4-BRSA-189-SES
4-BRSA-197-SES
4-BRSA-249-ESS
4-BRSA-265-ESS
4-CM-40-SES
4-CM-88-SES
4-ESS-75-ES
4-ESS-89-ES
4-RB-19-SES
4-RNS-127-RN
4-RNS-25-RN
4-RNS-35-RNS
4-RNS-39-RN
4-RNS-53-RN
4-RNS-55-RNS
4-RNS-61-RN
4-RNS-78-RN
4-RNS-80-RN
4-RNS-81-RN
4-SES-17-SE
4-SES-41-SE
4-SES-44-SE
4-SES-59-SE
4-SES-62-SE
4-SES-67-SES
4-SES-73-SE
4-SES-79-SES
4-SES-80-SE
4-SES-81-SE
4-SES-84-SES
4-SES-87-SES
4-SES-98-SES
6-ALS-36-AL
6-BRSA-486-ESS
6-BRSA-505P-ESS
6-CM-36-SES
6-CM-37-SES
6-ESS-85-ESS
6-RB-18-SES
7-AG-13-RNS
7-AG-16DA-RNS
7-CB-6-SES
7-DO-19-SES
7-DO-27A-SES
7-GA-21-SES
7-GA-36-SES
7-GA-57D-SES
7-UB-67-RNS

In [33]:
def Poços_Marinhos():
    data = []
    for name, group in df.groupby("Poço"):
        data.append((name, group))
    df_output = pd.DataFrame(data, columns=["Name", "Group"])
    df_output.to_csv("output.csv", index=False)
Poços_Marinhos()

In [37]:
def Poços_Marinhos():
    data = []
    for name, group in df.groupby("Poço"):
        data.append((name))
    df_output = pd.DataFrame(data)
    df_output.to_csv("output.csv", index=False)
Poços_Marinhos()

In [23]:
grp = pd.read_csv("Poços_Input.csv", index_col="Poço")
grpcsv= grp.loc["1-ALS-1-AL"]
grpcsv.to_csv("1-ALS-1-AL")
grpcsv

            Profundidade   COT    S1    S2    S3   Tmax  Ro     IH     IO
Poço
1-ALS-1-AL         348.7  0.97  0.19  0.47  0.44  434.0 NaN  48.45  45.36
1-ALS-1-AL         399.7  1.04  0.17  0.32  0.25  436.0 NaN  30.77  24.04
1-ALS-1-AL         420.7  1.28  0.47  0.77  0.40  429.0 NaN  60.16  31.25
1-ALS-1-AL         438.7  1.22  0.49  0.48  0.46  438.0 NaN  39.34  37.70
1-ALS-1-AL         492.7  0.94  0.52  0.23  0.26    NaN NaN  24.47  27.66
...                  ...   ...   ...   ...   ...    ...  ..    ...    ...
1-ALS-1-AL        3228.7  0.87  0.48  0.32  0.36  346.0 NaN  36.78  41.38
1-ALS-1-AL        3237.7  0.71   NaN   NaN   NaN    NaN NaN    NaN    NaN
1-ALS-1-AL        3255.7  0.63   NaN   NaN   NaN    NaN NaN    NaN    NaN
1-ALS-1-AL        3270.7  0.67   NaN   NaN   NaN    NaN NaN    NaN    NaN
1-ALS-1-AL        3273.7  0.68  0.38  0.24  0.29    NaN NaN  35.29  42.65

[161 rows x 9 columns]

In [18]:
df1 = df.loc["Sergipe"]

KeyError: 'Sergipe'

In [ ]:
df1.to_csv("Sergipe.csv", index=False)

In [ ]:
df.info()

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.describe()

In [ ]:
df.COT

0        1.60
1        1.49
2        1.37
3        1.13
4        1.62
         ...
96426    0.53
96427    0.56
96428    0.57
96429    0.64
96430    0.74
Name: COT, Length: 96431, dtype: float64

In [ ]:
df[["Poço","COT"]]

                       Poço   COT
0      7-PIR-184D-AL         1.60
1      7-PIR-184D-AL         1.49
2      7-PIR-184D-AL         1.37
3      7-PIR-184D-AL         1.13
4      7-PIR-184D-AL         1.62
...                     ...   ...
96426  7-GA-57D-SES          0.53
96427  7-GA-57D-SES          0.56
96428  7-GA-57D-SES          0.57
96429  7-GA-57D-SES          0.64
96430  7-GA-57D-SES          0.74

[96431 rows x 2 columns]

In [ ]:
df.iloc[4756]

In [ ]:
df.iloc[3546:4563]

In [ ]:
df.loc[3561:3567, "Poço":"Tmax"]

In [ ]:
df["Poço"].value_counts()

In [ ]:
df.set_index("Poço", inplace=True)

In [ ]:
df

,Profundidade,COT,S1,S2,S3,Tmax,Ro,IH,IO
Poço,,,,,,,,,
1-BRSA-132-ALS,802.0,0.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-BRSA-132-ALS,820.0,0.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-BRSA-132-ALS,838.0,0.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-BRSA-132-ALS,856.0,1.07,0.35,2.43,1.83,433.0,NaN,227.10,171.03
1-BRSA-132-ALS,874.0,0.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
7-GA-57D-SES,1274.0,0.53,0.13,0.21,1.69,411.0,NaN,39.62,318.87
7-GA-57D-SES,1286.0,0.56,0.06,0.20,1.73,408.0,NaN,35.71,308.93
7-GA-57D-SES,1298.0,0.57,0.07,0.21,1.66,409.0,NaN,36.84,291.23
7-GA-57D-SES,1310.0,0.64,0.07,0.23,1.70,415.0,NaN,35.94,265.63
7-GA-57D-SES,1322.0,0.74,0.11,0.43,2.22,416.0,NaN,58.11,300.00

In [ ]:
grb = pd.read_csv("Poços_BR.csv", thousands=",", index_col="Bacia")
grbcsv = grb.loc['Alagoas']
grbcsv.to_csv("Alagoas.csv")
grbcsv

                         Poço   COT    S1    S2    S3   Tmax      HI      OI
Bacia
Alagoas  7-PIR-184D-AL         1.60  0.82  8.17  1.26  436.0  510.62   78.75
Alagoas  7-PIR-184D-AL         1.49  0.69  6.79  1.22  432.0  455.70   81.88
Alagoas  7-PIR-184D-AL         1.37  0.70  8.02  1.26  435.0  585.40   91.97
Alagoas  7-PIR-184D-AL         1.13  0.68  6.51  1.30  436.0  576.11  115.04
Alagoas  7-PIR-184D-AL         1.62  0.87  9.34  1.45  432.0  576.54   89.51
...                       ...   ...   ...   ...   ...    ...     ...     ...
Alagoas  1-ALS-32-ALS          7.30  1.16  3.70  0.87  526.0   50.68   11.92
Alagoas  1-ALS-32-ALS          1.88  1.65  1.07  0.74  355.0   56.91   39.36
Alagoas  1-ALS-32-ALS          1.90   NaN  1.30  0.70  440.0   68.42   36.84
Alagoas  1-ALS-32-ALS          1.34   NaN  0.57  0.81  440.0   42.54   60.45
Alagoas  1-ALS-32-ALS          2.03  0.01  3.75  1.62  435.0  184.73   79.80

[19188 rows x 8 columns]

In [ ]:
grp = pd.read_csv("Poços_BR.csv", thousands=",", index_col="Poço")
grpcsv= grp.loc['1-RV-1D-AL          ']
grpcsv.to_csv("1-RV-1D-AL.csv")
grpcsv

                        Bacia   COT    S1     S2    S3   Tmax      HI     OI
Poço
1-RV-1D-AL            Alagoas  5.21  0.47  26.23  1.45  420.0  503.45  27.83
1-RV-1D-AL            Alagoas  3.70  0.17   9.98  1.23  424.0  269.73  33.24
1-RV-1D-AL            Alagoas  2.47  0.17   6.01  0.84  424.0  243.32  34.01
1-RV-1D-AL            Alagoas  4.48  0.41  19.94  1.19  423.0  445.09  26.56
1-RV-1D-AL            Alagoas  4.70  0.23  13.68  1.41  427.0  291.06  30.00
...                       ...   ...   ...    ...   ...    ...     ...    ...
1-RV-1D-AL            Alagoas  0.67   NaN    NaN   NaN    NaN     NaN    NaN
1-RV-1D-AL            Alagoas  0.64   NaN    NaN   NaN    NaN     NaN    NaN
1-RV-1D-AL            Alagoas  0.56   NaN    NaN   NaN    NaN     NaN    NaN
1-RV-1D-AL            Alagoas  0.65   NaN    NaN   NaN    NaN     NaN    NaN
1-RV-1D-AL            Alagoas  0.64   NaN    NaN   NaN    NaN     NaN    NaN

[302 rows x 8 columns]

In [ ]:
df = pd.read_csv("Poços_BR/Poços_BR.csv", thousands=",")

In [ ]:
grupo = df["COT"].groupby(df["Poço"])

KeyError: 'Poço'

In [ ]:
grupo

In [ ]:
grupo.mean()

In [ ]:
grupo = df["COT"].groupby([df["Bacia"], df["Poço"]]).mean()  # Média de um parâmetro especificado agrupado por Bacia e Poços

In [ ]:
grupo

In [ ]:
#pd.set_option("display.max_rows", 1617)  # Mostra número total de linhas

In [ ]:
#df.groupby(["Bacia","Poço"]).mean()    # Médias de todos os parâmetros agrupados por Bacias e Poços

In [ ]:
# Agrupamento de todos os parâmetros por poços e bacias
#for (Bacia, Poço), group in df.groupby(["Bacia","Poço"]):
    print((Bacia,Poço))
    print(group)

In [ ]:
selec = dict(list(df.groupby("Bacia")))
selec["Alagoas"]

In [ ]:
selec2 = dict(list(df.groupby("Poço")))
selec2

In [ ]:
selec2 = dict(list(df.groupby("Poço")))
selec2["4-PIR-4-AL          "]

In [ ]:
selec2.to_csv("4PIR4AL.csv", index=False)

In [ ]:
selec2 = pd.DataFrame.from_dict(selec2)

In [ ]:
import csv

In [ ]:
filename = 'dictionary.csv'
with open(filename, 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(selec2.keys())
    writer.writerows(zip(*selec2.values()))