In [4]:
import pandas as pd

In [8]:
df = pd.read_csv("Poços_BR.csv", thousands=",")

In [ ]:
df

In [ ]:
df1 = df.loc["Sergipe"]

In [ ]:
df1.to_csv("Sergipe.csv", index=False)

In [ ]:
df.info()

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.describe()

In [ ]:
df.Poço

In [ ]:
df[["Poço","COT"]]

In [ ]:
df.iloc[4756]

In [ ]:
df.iloc[3546:4563]

In [ ]:
df.loc[3561:3567, "Poço":"Tmax"]

In [ ]:
df["Poço"].value_counts()

In [ ]:
df.set_index("Poço", inplace=True)

In [12]:
grp = pd.read_csv("Poços_BR.csv", thousands=",", index_col="Poço")

In [16]:
grp.loc['1-BRSA-464D-AL      ']

                        Bacia   COT    S1     S2    S3   Tmax      HI     OI
Poço
1-BRSA-464D-AL        Alagoas  1.47  0.42   5.30  0.64  421.0  359.57  43.42
1-BRSA-464D-AL        Alagoas  1.99  0.89   3.42  0.69  414.0  172.03  34.71
1-BRSA-464D-AL        Alagoas  1.74  0.63   2.72  0.68  424.0  155.96  38.99
1-BRSA-464D-AL        Alagoas  2.21  1.15   5.27  0.61  423.0  239.00  27.66
1-BRSA-464D-AL        Alagoas  3.05  1.76   8.99  0.20  413.0  294.56   6.55
...                       ...   ...   ...    ...   ...    ...     ...    ...
1-BRSA-464D-AL        Alagoas  2.31   NaN    NaN   NaN    NaN     NaN    NaN
1-BRSA-464D-AL        Alagoas  2.50   NaN    NaN   NaN    NaN     NaN    NaN
1-BRSA-464D-AL        Alagoas  3.64   NaN    NaN   NaN    NaN     NaN    NaN
1-BRSA-464D-AL        Alagoas  3.23  9.96  16.99  1.58  439.0  526.01  48.92
1-BRSA-464D-AL        Alagoas  2.89   NaN    NaN   NaN    NaN     NaN    NaN

[377 rows x 8 columns]

In [19]:
grp.to_csv("1-BRSA-464D-AL.csv")

In [ ]:
df = pd.read_csv("Poços_BR/Poços_BR.csv", thousands=",")

In [ ]:
grupo = df["COT"].groupby(df["Poço"])

In [ ]:
grupo

In [ ]:
grupo.mean()

In [ ]:
grupo = df["COT"].groupby([df["Bacia"], df["Poço"]]).mean()  # Média de um parâmetro especificado agrupado por Bacia e Poços

In [ ]:
grupo

In [ ]:
#pd.set_option("display.max_rows", 1617)  # Mostra número total de linhas

In [ ]:
#df.groupby(["Bacia","Poço"]).mean()    # Médias de todos os parâmetros agrupados por Bacias e Poços

In [ ]:
# Agrupamento de todos os parâmetros e poços por Bacia
for name, group in df.groupby("Poço"):
    print(name)
    print(group)

In [ ]:
# Agrupamento de todos os parâmetros por poços e bacias
#for (Bacia, Poço), group in df.groupby(["Bacia","Poço"]):
    print((Bacia,Poço))
    print(group)

In [ ]:
selec = dict(list(df.groupby("Bacia")))
selec["Alagoas"]

In [ ]:
selec2 = dict(list(df.groupby("Poço")))
selec2

In [ ]:
selec2 = dict(list(df.groupby("Poço")))
selec2["4-PIR-4-AL          "]

In [ ]:
selec2.to_csv("4PIR4AL.csv", index=False)

In [ ]:
selec2 = pd.DataFrame.from_dict(selec2)

In [ ]:
import csv

In [ ]:
filename = 'dictionary.csv'
with open(filename, 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(selec2.keys())
    writer.writerows(zip(*selec2.values()))