In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Poços_BR.csv", thousands=",")

In [ ]:
df

In [ ]:
df1 = df.loc["Sergipe"]

In [ ]:
df1.to_csv("Sergipe.csv", index=False)

In [ ]:
df.info()

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.describe()

In [6]:
df.COT

0        1.60
1        1.49
2        1.37
3        1.13
4        1.62
         ...
96426    0.53
96427    0.56
96428    0.57
96429    0.64
96430    0.74
Name: COT, Length: 96431, dtype: float64

In [4]:
df[["Poço","COT"]]

                       Poço   COT
0      7-PIR-184D-AL         1.60
1      7-PIR-184D-AL         1.49
2      7-PIR-184D-AL         1.37
3      7-PIR-184D-AL         1.13
4      7-PIR-184D-AL         1.62
...                     ...   ...
96426  7-GA-57D-SES          0.53
96427  7-GA-57D-SES          0.56
96428  7-GA-57D-SES          0.57
96429  7-GA-57D-SES          0.64
96430  7-GA-57D-SES          0.74

[96431 rows x 2 columns]

In [ ]:
df.iloc[4756]

In [ ]:
df.iloc[3546:4563]

In [ ]:
df.loc[3561:3567, "Poço":"Tmax"]

In [ ]:
df["Poço"].value_counts()

In [ ]:
df.set_index("Poço", inplace=True)

In [35]:
grb = pd.read_csv("Poços_BR.csv", thousands=",", index_col="Bacia")
grbcsv = grb.loc['Alagoas']
grbcsv.to_csv("Alagoas.csv")
grbcsv

                         Poço   COT    S1    S2    S3   Tmax      HI      OI
Bacia
Alagoas  7-PIR-184D-AL         1.60  0.82  8.17  1.26  436.0  510.62   78.75
Alagoas  7-PIR-184D-AL         1.49  0.69  6.79  1.22  432.0  455.70   81.88
Alagoas  7-PIR-184D-AL         1.37  0.70  8.02  1.26  435.0  585.40   91.97
Alagoas  7-PIR-184D-AL         1.13  0.68  6.51  1.30  436.0  576.11  115.04
Alagoas  7-PIR-184D-AL         1.62  0.87  9.34  1.45  432.0  576.54   89.51
...                       ...   ...   ...   ...   ...    ...     ...     ...
Alagoas  1-ALS-32-ALS          7.30  1.16  3.70  0.87  526.0   50.68   11.92
Alagoas  1-ALS-32-ALS          1.88  1.65  1.07  0.74  355.0   56.91   39.36
Alagoas  1-ALS-32-ALS          1.90   NaN  1.30  0.70  440.0   68.42   36.84
Alagoas  1-ALS-32-ALS          1.34   NaN  0.57  0.81  440.0   42.54   60.45
Alagoas  1-ALS-32-ALS          2.03  0.01  3.75  1.62  435.0  184.73   79.80

[19188 rows x 8 columns]

In [36]:
grp = pd.read_csv("Poços_BR.csv", thousands=",", index_col="Poço")
grpcsv= grp.loc['1-RV-1D-AL          ']
grpcsv.to_csv("1-RV-1D-AL.csv")
grpcsv

                        Bacia   COT    S1     S2    S3   Tmax      HI     OI
Poço
1-RV-1D-AL            Alagoas  5.21  0.47  26.23  1.45  420.0  503.45  27.83
1-RV-1D-AL            Alagoas  3.70  0.17   9.98  1.23  424.0  269.73  33.24
1-RV-1D-AL            Alagoas  2.47  0.17   6.01  0.84  424.0  243.32  34.01
1-RV-1D-AL            Alagoas  4.48  0.41  19.94  1.19  423.0  445.09  26.56
1-RV-1D-AL            Alagoas  4.70  0.23  13.68  1.41  427.0  291.06  30.00
...                       ...   ...   ...    ...   ...    ...     ...    ...
1-RV-1D-AL            Alagoas  0.67   NaN    NaN   NaN    NaN     NaN    NaN
1-RV-1D-AL            Alagoas  0.64   NaN    NaN   NaN    NaN     NaN    NaN
1-RV-1D-AL            Alagoas  0.56   NaN    NaN   NaN    NaN     NaN    NaN
1-RV-1D-AL            Alagoas  0.65   NaN    NaN   NaN    NaN     NaN    NaN
1-RV-1D-AL            Alagoas  0.64   NaN    NaN   NaN    NaN     NaN    NaN

[302 rows x 8 columns]

In [ ]:
df = pd.read_csv("Poços_BR/Poços_BR.csv", thousands=",")

In [ ]:
grupo = df["COT"].groupby(df["Poço"])

In [ ]:
grupo

In [ ]:
grupo.mean()

In [ ]:
grupo = df["COT"].groupby([df["Bacia"], df["Poço"]]).mean()  # Média de um parâmetro especificado agrupado por Bacia e Poços

In [ ]:
grupo

In [ ]:
#pd.set_option("display.max_rows", 1617)  # Mostra número total de linhas

In [ ]:
#df.groupby(["Bacia","Poço"]).mean()    # Médias de todos os parâmetros agrupados por Bacias e Poços

In [ ]:
# Agrupamento de todos os parâmetros e poços por Bacia
for name, group in df.groupby("Poço"):
    print(name)
    print(group)

In [ ]:
# Agrupamento de todos os parâmetros por poços e bacias
#for (Bacia, Poço), group in df.groupby(["Bacia","Poço"]):
    print((Bacia,Poço))
    print(group)

In [ ]:
selec = dict(list(df.groupby("Bacia")))
selec["Alagoas"]

In [ ]:
selec2 = dict(list(df.groupby("Poço")))
selec2

In [ ]:
selec2 = dict(list(df.groupby("Poço")))
selec2["4-PIR-4-AL          "]

In [ ]:
selec2.to_csv("4PIR4AL.csv", index=False)

In [ ]:
selec2 = pd.DataFrame.from_dict(selec2)

In [ ]:
import csv

In [ ]:
filename = 'dictionary.csv'
with open(filename, 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(selec2.keys())
    writer.writerows(zip(*selec2.values()))