In [4]:
import pandas as pd
df = pd.read_csv("Poços_BR.csv", thousands=",")
df

,Poço,Bacia,COT,S1,S2,S3,Tmax,HI,OI
0,7-PIR-184D-AL,Alagoas,1.60,0.82,8.17,1.26,436.0,510.62,78.75
1,7-PIR-184D-AL,Alagoas,1.49,0.69,6.79,1.22,432.0,455.70,81.88
2,7-PIR-184D-AL,Alagoas,1.37,0.70,8.02,1.26,435.0,585.40,91.97
3,7-PIR-184D-AL,Alagoas,1.13,0.68,6.51,1.30,436.0,576.11,115.04
4,7-PIR-184D-AL,Alagoas,1.62,0.87,9.34,1.45,432.0,576.54,89.51
...,...,...,...,...,...,...,...,...,...
96426,7-GA-57D-SES,Sergipe,0.53,0.13,0.21,1.69,411.0,39.62,318.87
96427,7-GA-57D-SES,Sergipe,0.56,0.06,0.20,1.73,408.0,35.71,308.93
96428,7-GA-57D-SES,Sergipe,0.57,0.07,0.21,1.66,409.0,36.84,291.23
96429,7-GA-57D-SES,Sergipe,0.64,0.07,0.23,1.70,415.0,35.94,265.63
96430,7-GA-57D-SES,Sergipe,0.74,0.11,0.43,2.22,416.0,58.11,300.00

In [6]:
grupo = df.groupby([df["Bacia"], df["Poço"]]).mean()
grupo

                                      COT        S1         S2        S3  \
Bacia      Poço
Alagoas    1-ALS-1-AL            0.828012  0.440923   0.506111  0.464091
           1-ALS-11-AL           1.081429  0.241250   6.006500  1.153000
           1-ALS-16-AL           1.762464  0.937400   4.998837  0.427600
           1-ALS-17-AL           1.410488  0.321233   0.232097  0.235946
           1-ALS-18-AL           3.126667  0.476667  17.128750  0.893750
...                                   ...       ...        ...       ...
Tucano Sul 3-CON-11-BA           0.766207  0.156552   4.023636  0.432424
           4-NI-4-BA             0.740000  0.390000   1.565000  0.760000
           4-QEX-4-BA            1.034530  0.103148   5.599259  0.450370
           4-QEX-5-BA            1.059217  0.319492   6.840508  0.636102
           6-FMT-2-BA            0.592389  0.055714   2.597045  0.366923

                                       Tmax          HI          OI
Bacia      Poço
Alagoas    1-ALS-1-AL            417.967742   35.484074   41.561212
           1-ALS-11-AL           436.500000  259.455500  101.663000
           1-ALS-16-AL           438.081081  153.470000   25.375000
           1-ALS-17-AL           472.450000   14.930161   16.906081
           1-ALS-18-AL           427.333333  412.779167   34.105000
...                                     ...         ...         ...
Tucano Sul 3-CON-11-BA           436.303030  298.066364   35.990303
           4-NI-4-BA             430.500000  194.155000  109.750000
           4-QEX-4-BA            435.277778  349.567037   29.455926
           4-QEX-5-BA            439.203390  401.002034   44.261864
           6-FMT-2-BA            439.023256  240.851136   49.153077

[1617 rows x 7 columns]

In [7]:
selec = dict(list(df.groupby("Bacia")))
selec["Alagoas"]

,Poço,Bacia,COT,S1,S2,S3,Tmax,HI,OI
0,7-PIR-184D-AL,Alagoas,1.60,0.82,8.17,1.26,436.0,510.62,78.75
1,7-PIR-184D-AL,Alagoas,1.49,0.69,6.79,1.22,432.0,455.70,81.88
2,7-PIR-184D-AL,Alagoas,1.37,0.70,8.02,1.26,435.0,585.40,91.97
3,7-PIR-184D-AL,Alagoas,1.13,0.68,6.51,1.30,436.0,576.11,115.04
4,7-PIR-184D-AL,Alagoas,1.62,0.87,9.34,1.45,432.0,576.54,89.51
...,...,...,...,...,...,...,...,...,...
22547,1-ALS-32-ALS,Alagoas,7.30,1.16,3.70,0.87,526.0,50.68,11.92
22548,1-ALS-32-ALS,Alagoas,1.88,1.65,1.07,0.74,355.0,56.91,39.36
22549,1-ALS-32-ALS,Alagoas,1.90,NaN,1.30,0.70,440.0,68.42,36.84
22550,1-ALS-32-ALS,Alagoas,1.34,NaN,0.57,0.81,440.0,42.54,60.45
22551,1-ALS-32-ALS,Alagoas,2.03,0.01,3.75,1.62,435.0,184.73,79.80