### Escopo para cálculo de parâmetros da aba Maturação

In [ ]:
# Input de dados de pirólise (leitura de planilha .csv)
# Agrupamento de dados (cluster)
# Cálculo de COTa
# Cálculo de IHa = 100 x (S2/(COTa))
# Calculo de Tr sem vitrinita: (IHa - IH)/ IHa
# Cálculo de Ro a partir de Tmax: Ro calculada = (0,0180 x Tmax) - 7,16
# Classificação do querogênio
# Cálculo de Tr por Ro e tipo de querogênio
# Normalização dos valores de Tr na curva log (ln)
# Cálculo de TOC0, S20 e IH0
# Gráficos
# Comparação entre os resultados de Tr (Ro x IH)

In [2]:
import pandas as pd

##### Input de dados de pirólise (leitura de planilha .csv)

In [5]:
df = pd.read_csv("1-ALS-1-AL.csv")
df

     Profundidade   COT    S1    S2    S3   Tmax  Ro      IH      IO
0           579.8  2.50  0.32  6.85  1.22  430.0 NaN  274.00   48.80
1           597.8  2.51  0.29  7.13  1.27  429.0 NaN  284.06   50.60
2           615.8  2.18  0.22  6.05  1.26  430.0 NaN  277.52   57.80
3           633.8  2.06  0.26  5.28  1.10  430.0 NaN  256.31   53.40
4           651.8  1.29  0.17  1.76  1.36  428.0 NaN  136.43  105.43
..            ...   ...   ...   ...   ...    ...  ..     ...     ...
131        3285.8  0.62   NaN   NaN   NaN    NaN NaN     NaN     NaN
132        3288.8  0.72  0.20  0.33  0.19  443.0 NaN   45.83   26.39
133        3303.8  0.26  0.10  0.10  0.30    NaN NaN   38.46  115.38
134        3336.8  0.72  0.20  0.20  0.20    NaN NaN   27.78   27.78
135        3369.8  0.52   NaN   NaN   NaN    NaN NaN     NaN     NaN

[136 rows x 9 columns]

##### Cálculo de IH0ativo
* IHa = 100 x (S2/(COTa))

In [7]:
COTa = float(input("Valor de COTa: "))
S2 = float(input("Valor de S2: "))
IHa = 100*(S2/COTa)
print("Valor de IHa: ", IHa)

Valor de IHa:  342.5

##### Calculo de Tr sem vitrinita 
* (IHa - IH)/ IHa

In [36]:
IH = float(input("Valor de IH: "))
Tr_IH = ((IHa-IH)/IHa)
if Tr_IH < 0:
    Tr_IH = 0
print("Valor da Taxa de Transformação (Epitalié et al., 1987): ", Tr_IH)

Valor da Taxa de Transformação (Epitalié et al., 1987):  0.15328467153284672

##### Cálculo de Ro a partir de Tmax
* Ro calculada = (0,0180 x Tmax) - 7,16

In [32]:
Tmax = float(input("informe valor de Tmax: "))
Ro = (0.0180*Tmax)-7.16
print("valor de Ro calculada: ", Ro)

valor de Ro calculada:  0.5799999999999992

#### Classificação do querogênio
* Tipo I: {IH > 600} ___ {S1/S3 > 15}
* Tipo II: {IH > 300 and IH <= 600} ___ {S1/S3 > 10 and S1/S3 <15}
* Tipo II/III: {IH > 200 and IH <=300} ___ {S1/S3 > 5 and S1/S3 < 10]
* Tipo III: {IH > 50 and IH <= 200} ___ {S1/S3 > 1 and S1/S3 < 5}
* Tipo IV: {IH <= 50} ___ {S1/S3 > 1}

In [33]:
if IH > 600:
    print("Tipo I")
elif IH > 300 and IH <=600:
    print("Tipo II")
elif IH > 200 and IH <= 300:
    print("Tipo II/III")
elif IH > 50 and IH <= 200:
    print("Tipo III")
else:
    print("Tipo IV")

Tipo II

#### Cálculo de Tr por Ro e tipo de querogênio
* Ro = row[new_ro_var]
* TipoI = -34.430609 + (183.63837 * row[new_ro_var]) - (361.494 * row[new_ro_var]**2) + (309.9 * row[new_ro_var]**3) - (96.8 * row[new_ro_var]**4)
* TipoII = -822.70308 + (6217.2684 * row[new_ro_var]) - (19265.314 * row[new_ro_var]**2) + (31326.872 * row[new_ro_var]**3) - (28204.703 * row[new_ro_var]**4) + (13345.477 * row[new_ro_var]**5) - (2595.9299 * row[new_ro_var]**6)
* TipoIII=6.6516023 - (33.879196 * row[new_ro_var]) + (64.978399 * row[new_ro_var]**2) - (60.264818 * row[new_ro_var]**3) + (29.700408 * row[new_ro_var]**4) - (7.5019085 * row[new_ro_var]**5) + (0.7656397 * row[new_ro_var]**6)

In [37]:
if IH > 600:
    print("Tipo I")
    Tr_Ro = -34.430609 + (183.63837 * Ro) - (361.494 * Ro**2) + (309.9 * Ro**3) - (96.8 * Ro**4)
elif IH > 300 and IH <=600:
    print("Tipo II")
    Tr_Ro = -822.70308 + (6217.2684 * Ro) - (19265.314 * Ro**2) + (31326.872 * Ro**3) - (28204.703 * Ro**4) + (13345.477 * Ro**5) - (2595.9299 * Ro**6)
elif IH > 200 and IH <= 300:
    print("Tipo II/III")
    Tr_Ro = -822.70308 + (6217.2684 * Ro) - (19265.314 * Ro**2) + (31326.872 * Ro**3) - (28204.703 * Ro**4) + (13345.477 * Ro**5) - (2595.9299 * Ro**6)
elif IH > 50 and IH < 200:
    print("Tipo III")
    Tr_Ro = 6.6516023 - (33.879196 * Ro) + (64.978399 * Ro**2) - (60.264818 * Ro**3) + (29.700408 * Ro**4) - (7.5019085 * Ro**5) + (0.7656397 * Ro**6)
else:
    print("Tipo IV")
    Tr_Ro = 0
print("Taxa de Transformação pela Ro(calculada: ", Tr_Ro)

Tipo II/III
Taxa de Transformação pela Ro(calculada:  0.041283142077773505

In [50]:
# Decisão sobre Tipo de Querogênio II ou III
Ro = 0.8
IH = 290
end_member = ((IH/600)/(200/600)-1)*100
Eq_I = -34.430609 + (183.63837 * Ro) - (361.494 * Ro**2) + (309.9 * Ro**3) - (96.8 * Ro**4)
Eq_II = -822.70308 + (6217.2684 * Ro) - (19265.314 * Ro**2) + (31326.872 * Ro**3) - (28204.703 * Ro**4) + (13345.477 * Ro**5) - (2595.9299 * Ro**6)
Eq_III = 6.6516023 - (33.879196 * Ro) + (64.978399 * Ro**2) - (60.264818 * Ro**3) + (29.700408 * Ro**4) - (7.5019085 * Ro**5) + (0.7656397 * Ro**6)

if IH > 600:
    print("Tipo I")
    Tr_Ro = Eq_I
elif IH > 300 and IH <=600:
    print("Tipo II")
    Tr_Ro = Eq_II
elif IH > 200 and IH <= 300:
    print("Tipo II/III")
    if end_member > 50:
        Tr_Ro = Eq_II
    else:
        Tr_Ro = Eq_III
elif IH > 50 and IH < 200:
    print("Tipo III")
    Tr_Ro = Eq_III
else:
    print("Tipo IV")
    Tr_Ro = 0
if Tr_Ro < 0:
    Tr_Ro = 0
print("Taxa de Transformação pela Ro(calculada): ", Tr_Ro)

Tipo II/III
Taxa de Transformação pela Ro(calculada):  0.18660363703680116

#### Normalização dos valores de Tr na curva log (ln)

##### Cálculo de TOC0, S20 e IH0
* S20 = S2 / (1 - Tr)
* COT0 = COTr + ((S2 x tr)/(1 - Tr))x0,086
* IH0 = S20/COT0